In [5]:
import pandas as pd
table1 = pd.read_html('https://www.x-rates.com/table/?from=INR&amount=1')[0]
table1

            Indian Rupee  1.00 INR  inv. 1.00 INR
0              US Dollar  0.012183      82.081997
1                   Euro  0.010928      91.509359
2          British Pound  0.009363     106.805076
3      Australian Dollar  0.017831      56.083530
4        Canadian Dollar  0.016035      62.363940
5       Singapore Dollar  0.016176      61.818323
6            Swiss Franc  0.010520      95.056132
7      Malaysian Ringgit  0.056131      17.815531
8           Japanese Yen  1.686663       0.592887
9  Chinese Yuan Renminbi  0.087316      11.452711

In [6]:
table2 = pd.read_html('https://www.x-rates.com/table/?from=INR&amount=1')[1]
table2

             Indian Rupee      1.00 INR  inv. 1.00 INR
0          Argentine Peso      3.216279       0.310918
1       Australian Dollar      0.017831      56.083530
2          Bahraini Dinar      0.004581     218.303183
3           Botswana Pula      0.160464       6.231937
4          Brazilian Real      0.058713      17.031894
5         Bruneian Dollar      0.016176      61.818323
6           Bulgarian Lev      0.021373      46.787992
7         Canadian Dollar      0.016035      62.363940
8            Chilean Peso      9.887949       0.101133
9   Chinese Yuan Renminbi      0.087316      11.452711
10         Colombian Peso     50.359634       0.019857
11           Czech Koruna      0.259907       3.847529
12           Danish Krone      0.081443      12.278549
13                   Euro      0.010928      91.509359
14       Hong Kong Dollar      0.095294      10.493871
15       Hungarian Forint      4.106918       0.243492
16        Icelandic Krona      1.606950       0.622297
17      Indonesian Rupiah    182.429853       0.005482
18           Iranian Rial    514.118598       0.001945
19         Israeli Shekel      0.044263      22.592086
20           Japanese Yen      1.686663       0.592887
21      Kazakhstani Tenge      5.410365       0.184830
22       South Korean Won     15.513095       0.064462
23          Kuwaiti Dinar      0.003732     267.947208
24           Libyan Dinar      0.057631      17.351865
25      Malaysian Ringgit      0.056131      17.815531
26        Mauritian Rupee      0.552920       1.808579
27           Mexican Peso      0.205752       4.860226
28         Nepalese Rupee      1.600750       0.624707
29     New Zealand Dollar      0.019191      52.106881
30        Norwegian Krone      0.122779       8.144716
31             Omani Rial      0.004691     213.188575
32        Pakistani Rupee      3.380916       0.295778
33        Philippine Peso      0.664567       1.504739
34           Polish Zloty      0.048460      20.635550
35           Qatari Riyal      0.044346      22.549999
36       Romanian New Leu      0.054060      18.498104
37          Russian Ruble      1.106990       0.903351
38    Saudi Arabian Riyal      0.045686      21.888532
39       Singapore Dollar      0.016176      61.818323
40     South African Rand      0.220445       4.536282
41       Sri Lankan Rupee      3.849360       0.259783
42          Swedish Krona      0.125909       7.942223
43            Swiss Franc      0.010520      95.056132
44      Taiwan New Dollar      0.377522       2.648852
45              Thai Baht      0.421286       2.373682
46     Trinidadian Dollar      0.081995      12.195796
47           Turkish Lira      0.318694       3.137802
48         Emirati Dirham      0.044742      22.350442
49          British Pound      0.009363     106.805076
50              US Dollar      0.012183      82.081997
51     Venezuelan Bolivar  34495.137678       0.000029

In [8]:
final = pd.concat([table1, table2])
final

          Indian Rupee      1.00 INR  inv. 1.00 INR
0            US Dollar      0.012183      82.081997
1                 Euro      0.010928      91.509359
2        British Pound      0.009363     106.805076
3    Australian Dollar      0.017831      56.083530
4      Canadian Dollar      0.016035      62.363940
..                 ...           ...            ...
47        Turkish Lira      0.318694       3.137802
48      Emirati Dirham      0.044742      22.350442
49       British Pound      0.009363     106.805076
50           US Dollar      0.012183      82.081997
51  Venezuelan Bolivar  34495.137678       0.000029

[62 rows x 3 columns]

In [10]:
data_to_csv = final.to_csv('INR_Conversion_Rates.csv', index=False)